<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="kompr.css">
    </link>
    <title>Kompr</title>
</head>
<body>
<div class="content">

    <div class="title">
        <h2 class="kompr">DeKompr.</h2>

        <p class="title-info">project for data compression course</p>

        <p class="title-info">teacher: dr inż. Sławomir Skoneczny</p>

        <p class="title-info">authors: Marcin Jasion, Marek Sarnecki</p>
    </div>
    <div class="form">
        <form method="post" enctype="multipart/form-data">

            <div class="file-input">
                <input type="file" class="input" name="file"/>
                <input type="submit" class="button" value="Decompress" style="width: 150px; height: 42px; "/>
            </div>

        </form>
    </div>

    <div th:if="${compressed}">
        <table class="result-table">
            <thead style="border-bottom: thin solid #B3B3B3;">
            <tr style="font-size: large">
                <td>Algorithm</td>
                <td>File</td>
            </tr>
            </thead>
            <tbody>
                <td>LZ77</td>
                <td th:text="${lz77.compressedFile}"></td>
                <td></td>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>