<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="kompr.css">
    </link>
    <title>Kompr</title>
</head>
<body>
<div class="content">

    <div class="title">
        <h2 class="kompr">Kompr.</h2>

        <p class="title-info">project for data compression course</p>

        <p class="title-info">teacher: dr inż. Sławomir Skoneczny</p>

        <p class="title-info">authors: Marcin Jasion, Marek Sarnecki</p>
    </div>
    <div class="form">
        <form method="post" enctype="multipart/form-data">

            <div class="file-input">
                <input type="file" class="input" name="file"/>
                <input type="submit" class="button" value="Compare" style="width: 117px;height: 42px; "/>
            </div>

            <!--<div class="compressors">-->
                <!--&lt;!&ndash;<a href="#" class="button">LZW</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#" class="button">LZMA</a>&ndash;&gt;-->
                <!--<input type="submit" class="button" value="Compare" style="width: 117px;height: 42px; "/>-->
            <!--</div>-->
        </form>
    </div>
    <div th:if="${compressed}">
        <table class="result-table">
            <thead style="border-bottom: thin solid #B3B3B3;">
                <tr style="font-size: large">
                    <td>Algorithm</td>
                    <td>Before</td>
                    <td>After</td>
                    <td>%</td>
                </tr>
            </thead>
            <tbody>
            <td>LZ77</td>
                <td th:text="${lz77.compressInfo.sizeBefore}"></td>
                <td th:text="${lz77.compressInfo.sizeAfter}"></td>
                <td th:text="${lz77.compressInfo.compressRatio}"></td>
                <td></td>
            </tbody>
            <tbody>
                <td>LZW</td>
                <td th:text="${lzw.compressInfo.sizeBefore}"></td>
                <td th:text="${lzw.compressInfo.sizeAfter}"></td>
                <td th:text="${lzw.compressInfo.compressRatio}"></td>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>