<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="kompr.css">
    </link>
    <title>Kompr</title>
</head>
<body>
<div class="content">

    <div class="title">
        <h2 class="kompr">Kompr.</h2>

        <p class="title-info">project for data compression course</p>

        <p class="title-info">teacher: dr inż. Sławomir Skoneczny</p>

        <p class="title-info">authors: Marcin Jasion, Marek Sarnecki</p>
    </div>

    <p>Result page after compression/decompression</p>

</div>
</body>
</html>